*{
    margin: 1px;
    padding: 1px;
}

.barraSuperior nav a img {
    height: 20px;
    width: 30px;
}

#lateral{
    width: 150px;
    height: 590px;
}

#banner h2{
    text-shadow: 5px 3px 5px rgb(113, 113, 141);
}

